.inner>* {
    width: 1200px;
    margin: 0 auto;
}

.top_bar {
    display: flex;
    line-height: 50px;
    padding: 10px 0;
}

.top_bar .slogan {

    margin-right: auto;
}

.top_bar .slogan img {
    width: 300px;
}

.top_bar .service {
    display: flex;
    gap: 20px;
}

.gnb ul {
    display: flex;
    gap: 20px;
    color: #999;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 10px;
}

.main {
    display: flex;
    align-items: center;
    background: #f9f9f9;
    height: 100px;
}

.main .inner {
    position: relative;
}

.main .inner h2 {
    position: absolute;
    top: -10px;
    right: 0;

    font-size: 20px;
}

.main .inner span {
    font-size: 30px;
    font-weight: 500;
    margin: 0 0 10px 0;
}



.mainVisual .itm {
    height: 600px;
}

.mainVisual .itm01 {
    background: url(../images/main.jpg) no-repeat center center/cover;
}

.article .figure {
    display: flex;
    width: 300px
}